

body {
	
}

h1 {
	
}

h3 {
	
}

#aboutme {
	padding-top: 50px;
	padding-bottom: 50px;
}

#aboutmepage {
	min-height: 100vh;
	max-height: 100%;
	
	background: url("https://36ac30c13130509695cc52edff7cc9aaed02b916.googledrive.com/host/0B-hZ9xIoiYFbcXhQejBRLXR6NGc/bridge-background.jpg") no-repeat fixed;
	background-size: cover;
}

#aboutstuff {
	margin: 0 auto;
	margin: 0px 20px 0px 20px;
}

#contactpage {
	min-height: 80vh;
	max-height: 100%;
	
	background: url("https://36ac30c13130509695cc52edff7cc9aaed02b916.googledrive.com/host/0B-hZ9xIoiYFbcXhQejBRLXR6NGc/street-background.jpg") no-repeat fixed;
	background-size: cover;
	background-position: left bottom;
}

#contactsection {
	padding-top: 50px;
	
}

#portfoliopage {
	margin: 0;
	padding: 0;
	/*height: 800px;*/
	min-height: 100vh;
	
	background: url("https://36ac30c13130509695cc52edff7cc9aaed02b916.googledrive.com/host/0B-hZ9xIoiYFbcXhQejBRLXR6NGc/desert-background.jpg") no-repeat fixed;
	background-size: cover;
}

#portfoliotitlediv {
	padding: 50px;
}

#portrait {
	width: 80%;
	max-width: 300px;
	border-radius: 20%;
	display: block;
	margin: 0 auto;
}

#socialtext {
	margin-bottom: 50px;
}

#titlediv {
	padding-top: 50px;
}

#titlepage {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	max-height: 100%;
	
	background: url("https://36ac30c13130509695cc52edff7cc9aaed02b916.googledrive.com/host/0B-hZ9xIoiYFbcXhQejBRLXR6NGc/mountain-background.jpg") no-repeat fixed;
	background-size: cover;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.content-fade {
	
	padding-top: 5px;
	background-color: rgba( 255, 255, 255, .6 );
	border-radius: 30px;
}

.divider {
	
	margin: 10px 10% 15px 10%;
	
	border: 1px outset rgba(255, 255, 255, .2);
	box-shadow: 1px 1px 1px #444444;
}

.morph {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.morph:hover {
	-webkit-filter: invert(100%);
}

.overlay {
		
	position: absolute;
	
	top: 0%;
	
	
	height: 100%;
	width: 100%;
	
}

.overlaywithin {
	position: absolute;
	top: 50%;
	
	height: 50%;
	width: 100%;
	
	color: white;
	background: rgba(0,0,0,.5);
	
	box-shadow: 0px 0px 8px #000000;
}

.paragraph-text {
	font-family: Helvetica;
	/*font-size: 1.4em;*/
	letter-spacing: -.01em;
	line-height: 1.3em;
	
	color: #cccccc;
	text-shadow: 3px 2px 2px rgba(33, 33, 33, 1);
}

.port-cell {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 10px;
	
	min-width: 230px;
	max-width: 300px;
	position: relative;
	
}

.port-row {
	padding-bottom: 10px;
}

.shadowed {
	text-shadow: 5px 3px 2px rgba(33, 33, 33, 1);
}

.socialbtn {
	margin-bottom: 15px;
	
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.5em;
	
	color: #333333;
	border: solid 2px #333333;
	box-shadow: 3px 3px 8px #000000;
	background: #dddddd;
}

.tag-text {
	margin: 0;
	padding: 0;
	
	font-family: Verdana;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .03em;
	
	color: #202020;
}

.text-overlay-title {
	margin: 0;
	padding: 0;
	
	font-family: Helvetica, sans-serif;
	letter-spacing: -.05em;
	font-weight: bold;
  
	color: #cccccc;
	
	text-shadow: 3px 2px 2px rgba(33, 33, 33, 1);
}

.text-overlay-description {
	margin: 0;
	padding: 0;
	
	font-family: Helvetica, sans-serif;
	letter-spacing: -.05em;
	font-size: 1.2em;
  
	color: #cccccc;
	text-shadow: 3px 2px 2px rgba(33, 33, 33, 1);

}

.title-large {
	font-size: 3.2em;
	line-height: .85em;
}

.title-medium {
	font-size: 2em;
	line-height: .85em;
}

.title-small {
	font-size: 1.3em;
	line-height: .85em;
}

.title-text {
	margin: 0;
	padding: 0;
	
	font-family: Helvetica, sans-serif;
	letter-spacing: -.05em;
	font-weight: bold;
  
	color: #202020;
}

.withfadein {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.withfadein:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.whited {
	color: #cccccc;
}

@media (min-width: 500px) { /* screen size until 500px */
	.paragraph-text {
		font-size: 1.0em;
	}
	.title-medium {
		font-size: 1.6em;
	}
	.title-small {
		font-size: 1.2em;
	}
}

@media (min-width: 1000px) { /* screen size until 1000px */
	.paragraph-text {
		font-size: 1.0em;
    }
	.title-medium {
		font-size: 1.6em;
	}
	.title-small {
		font-size: 1.2em;
	}
}

@media (min-width: 1200px) { /* screen size until 1200px */
	.paragraph-text {
		font-size: 1.4em;
	}
	.title-medium {
		font-size: 2em;
	}
	.title-small {
		font-size: 1.3em;
	}
}